.container h1, h2, h3, h4, h5{
    text-align: center;
}

.wrapper{
    margin: 0;
}

.row {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.section {
    padding-top: 20px;
}

.info > i{
    vertical-align:middle;
} 

#corona{
    width: 100%;
    height: 150px;
}

#reliability{
    width: 100%;
    height: 400px;
}

#jobs-access-theme{
    background-image: url("/static/img/transit.jpg");
}

.banner{
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 400px;
}

/* .banner:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
} */

#jobs-access-groups-date{
    width: 100%;
    height: 400px;
}

#jobs-access-series{
    width: 100%;
    height: 400px;
}

#hospital-access-series{
    width: 100%;
    height: 400px;
}

#store-access-series{
    width: 100%;
    height: 400px;
}

#jobs-fares-series{
    width: 100%;
    height: 400px;
}

#los-series{
    width: 100%;
    height: 400px;
}

#car-jobs-access-series{
    width: 100%;
    height: 400px;
}

#car-low-wage-jobs-access-series{
    width: 100%;
    height: 400px;
}

#car-hospital-travel-series{
    width: 100%;
    height: 400px;
}

