/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d74ed;
  box-shadow: 1px 1px 2px lightgrey;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px 10px 10px 5px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  height: 20px;
}

/* Change background color of links on hover */
/* ul.topnav li a:hover {
} */

ul.topnav li.icon a:hover{
  text-decoration: none;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}

ul.topnav a.title-text {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  height: 20px;
  padding: 5px 10px 10px 5px;
}

body{
  padding-bottom: 40px;
}

/* Gallery Specific Stuff TODO: Move to another file */
.header{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.header h1{
  font-size: 5.0rem;
  font-weight: bold;
}

.tile{
  border-top: 1px solid lightgrey;
  margin-bottom: 10px;
  padding-top: 30px;
}

.article-thumb{
  margin-bottom: 10px;
  padding-top: 30px;
}

.tile h3{
 font-weight: bold;
}

.tile a{
  color: #222;
}

.tile a:hover{
  color: #F58426
}

.title-text a {
  text-decoration: none;
  display: block;
  color: #F58426;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #5A5A5A;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    display: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #000000;
}

/* Add an active class to highlight the current page */
.active {
    color: #000000;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav {
    box-shadow: none;
  }
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }

  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    float: none;
    display: block;
    text-align: right;
  }
}

.image{
  text-align: center;
}

.caption{
  font-size: 80%;
  font-style: italic;
  color: #3B3B3B;
}

.responsive {
  width: 100%;
  height: auto;
}

.smallcaps {
  font-variant: small-caps; /* default is `normal` */
}