/* Basic Stylings */
html {
    font-size: 62.5%; 
}

body{
    margin: 0;
    font-family: Mark, Raleway, Arial, sans-serif;
}

/* Container that holds the whole page. */
.container-outer{
    min-width: 1080px;
}

/* Container for the header */
.container-header{
    background-color: #2d74ed;
    color: white;
    height: 40px;
}

/* Container for the content */
.container-main{
    height: calc(100vh - 40px);
    position: relative;
}

/* Container for the map box */
.container-map{
    height: 100%;
    width: calc(100% - 420px);
    margin: 0;
    float: left;
}

.container-sidebar{
    height: 100%;
    width: 418px;
    margin: 0;
    float: right;
    border-left: 2px solid black
}

.sidebar-title{
    padding-left: 5px;
}

.sidebar-title h2{
    font-size: 1.8em;
    margin-bottom: 8px;
}

.sidebar-list{
    /* padding-bottom: 10px; */
    font-size: 1.4em;
    border-bottom: 1px solid black;
}

.sidebar-item{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-top: 1px solid black;
    cursor: pointer;
}

.sidebar-item:hover{
    background-color: #CDCDCD;
}

.dropdown-select{
    padding-left:5px;
}

/* Loading overlay */
#loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0.3;
    text-align: center;
    font-size: 7.8em;
}

/* Container for the map item itself */
#map{
    height: 100%;
    width: 100%;
}

#time-slider{
    width: 100%;
    height: 40px;
}

#bottom-chart{
    height: 158px;
}

#legend{
    width: 100%;
    height: 200px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.9;
}

#timebox {
  width: 100%;
  height: 50px;
  line-height: 18px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.9;
}

#plot{
    width: 100%;
    height: 200px;
}

.headerTitle{
    height: 100%;
}

.title-text {
    color: white;
    font-weight: bold;
    font-size: 2em;
    height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #2d74ed;
    overflow: hidden;
    height: 40px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1.6em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2db0ed;
    color: white;
  }

#toggle {
    margin-left: 5px;
}

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2d74ed;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2d74ed;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: gold;
  stroke: steelblue;
  stroke-width: 5px;
}

.leaflet-sidebar p{
  font-size: 1.1em;
  font-family: Mark, Raleway, Arial, sans-serif;
}

.label {
  font-family: Mark, Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0px 5px 0px
}

select {
  margin: 0px;
  width: 350px;
  padding: 5px 35px 5px 5px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  appearance: none;
  background: url(/static/img/drop-down-arrow.png) 96% / 15% no-repeat #eee;
  background-size: 16px;
  font-family: Mark, Raleway, Arial, sans-serif;

}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}

button {
  margin: 0px;
  margin: 15px 5px 5px 5px;
  width: 350px;
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  appearance: none;
  background: #2D74ED;
  color: white;
  font-weight: bold;
  background-size: 16px;
  font-family: Mark, Raleway, Arial, sans-serif;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #0250d6; /* Green */
  color: white;
}