/* Basic Stylings */
html {
    font-size: 62.5%; 
}

body{
    margin: 0;
    font-family: Mark, Raleway, Arial, sans-serif;
}

/* Container that holds the whole page. */
.container-outer{
    min-width: 1080px;
}

/* Container for the header */
.container-header{
    background-color: #2d74ed;
    color: white;
}

/* Container for the content */
.container-main{
    height: calc(100vh - 50px);
    position: relative;
}

/* Container for the top two parts */
.container-top{
    height: calc(100vh - 250px);
}

.container-bottom{
    height: 176px;
    width: calc(100% - 420px);
    border-top: 2px black solid;
    float:left;
}

/* Container for the map box */
.container-map{
    height: 100%;
    width: calc(100% - 420px);
    margin: 0;
    float: left;
}

.container-sidebar{
    height: 100%;
    width: 418px;
    margin: 0;
    float: right;
    border-left: 2px solid black
}

.sidebar-title{
    padding-left: 10px;
}

.sidebar-title h2{
    font-size: 1.8em;
    margin-bottom: 8px;
}

.sidebar-list{
    /* padding-bottom: 10px; */
    font-size: 1.4em;
    border-bottom: 1px solid black;
}

.sidebar-item{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-top: 1px solid black;
    cursor: pointer;
}

.sidebar-item:hover{
    background-color: #CDCDCD;
}

.dropdown-select{
    padding-left:5px;
}

/* Loading overlay */
#loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0.3;
    text-align: center;
    font-size: 7.8em;
}

/* Container for the map item itself */
#map{
    height: 100%;
    width: 100%;
}

#time-slider{
    width: 100%;
    height: 40px;
}

#bottom-chart{
    height: 158px;
}

#legend{
    width: 100%;
    height: 300px;
}

#plot{
    width: 100%;
    height: 200px;
}

.headerTitle{
    height: 100%;
}

.title-text {
    color: white;
    font-weight: bold;
    font-size: 2em;
    height: 100%;
}

.select {
    padding-left: 5px;
    margin-bottom: 5px;
}

.select select {
    background-color: white;
    font-family: Mark, Raleway, Arial, sans-serif;
    color: black;
    padding: 5px;
    border: 2px solid black;
    font-size: 14px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    width: 250px;
    border-radius: 4px;
}

.select::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .select select option {
    padding: 30px;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #2d74ed;
    overflow: hidden;
    height: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2db0ed;
    color: white;
  }
