<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - TransitCenter Equity Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Signika:400,300,600" rel="stylesheet" type="text/css">
  <!-- <link href="//db.onlinewebfonts.com/c/1846241fbfa2b978f919cb6d3ac51df7?family=MarkOT-Heavy" rel="stylesheet" type="text/css"/> -->
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS -->
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- PAGE SPEICIFCS-->
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav class="blue transit">
      <div class="nav-wrapper">
        <!-- <a href="/" class="brand-logo center"><img class="responsive-img" id="logo" src="{{ url_for('static', filename='img/logo.png') }}"/></a> -->
        <a href="/" class="brand-logo center"><b class='hide-on-med-and-down'>TransitCenter</b><span class='hide-on-small-only'> Equity Dashboard</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class='purple transit lighten-2'><a href="https://transitcenter.org/"><b>TransitCenter</b></a></li>
          <li><a href="/methodology">How It Works</a></li>
          <!-- <li><a href="/download">Downloads</a></li> -->
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="https://github.com/wklumpen/equity-pulse-web/issues" class='grey-text text-lighten-2 version'>v0.7.1-beta</i></a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li class='purple transit lighten-2 white-text'><a href="https://transitcenter.org/"><b>TransitCenter</b></a></li>
      <li><a href="/methodology">How It Works</a></li>
    </ul>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('select').formSelect();
      });
  </script>
  
</body>