{% extends 'base.html' %}
{% block title %}Transit Scorecard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scorecard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
    var view = JSON.parse('{{ view | tojson}}');
</script>
<div class='wrapper white' id='jobs-access-theme'>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>The {{view['title']}} Story</h2>
            <p class='center'><i>Note: This is a Beta version for demonstration and feedback purposes.</i></p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12 l6 offset-l3'>
            <h5>Table of Contents</h5>
            <div class="collection">
                <a href="#introduction" class="collection-item blue-text text-darken-2">Introduction</a>
                <a href="#theme-access" class="collection-item blue-text text-darken-2">Access to destinations on transit</a>
                <a href="#los" class="collection-item blue-text text-darken-2">Transit service levels</a>
                <a href="#fares" class="collection-item blue-text text-darken-2">Transit fares and access</a>
                <a href="#car" class="collection-item blue-text text-darken-2">Travelling by transit vs. car</a>
                <a href="#reliability" class="collection-item blue-text text-darken-2">Transit reliability</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class='white'>
<div class="container">
    <div class="row">
        <div class='col s12'>
            <a id="introduction"></a>
            <h3>Introduction</h3>
            <p class='flow-text'>This page demonstrates the extent to which residents of {{view['title']}} have equitable access to opportunity, convenient travel, and reliable transit service. This page presents the state of transit equity starting in February 2020, and how outcomes for riders have changed alongside changes to the systems and service.</p>

            <p class='flow-text'>Covid-19 has impacted transit operators and riders alike starting in 2020; for reference, there is a chart of local Covid-19 cases at the <a href='#coronaChart'>bottom of the page.</a></p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>Transit agencies have at times limited service during the pandemic in reaction to budgetary or staffing constraints caused by coronavirus, and expanded service to provide more space for social distance. The rate of coronavirus spread also impacts rider behavior, influencing how often people leave their homes to travel for work, run errands, access health care, and access other opportunities and amenities.</p>
        </div>
    </div>
</div>
</div>
<div class='grey lighten-4 section'>
<div class="container">
    <div class='row'>
        <a id="theme-access"></a>
        <h3>Access to destinations on transit</h3>
        <h5>Ability to access destinations on transit varies for different groups of people.</h5>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>How many jobs can people reach in 45 minutes on public transit?</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="jobs-access-groups-date" class="svg-container"></div>
                <p>Larger numbers represent better access to jobs. You can also <a href="/map/{{view['name']}}?key=C000_P_c45_AM_autoN_fareN&zone=urban&demo=none">view the most recent data on access to jobs in the {{view['title']}} Urban Core on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>How has access to jobs by public transit changed over time?</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="jobs-access-series" class="svg-container"></div>
                <p>Larger numbers represent better access to jobs. You can also <a href="/map/{{view['name']}}?key=C000_P_c45_AM_autoN_fareN&zone=urban&demo=none">view the most recent data on access to jobs in the Urban Core on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>
                The greatest number of jobs are accessible when riding transit during the morning peak. Accessibility is generally lower at night than during morning peak. This indicates that people who commute during peak hours generally have better access to their jobs than people who commute outside those times. The number of accessible jobs is generally lowest for people who only use less expensive transit options, as they cannot afford certain premium transit routes that grant access around the region.
            </p>
            <p class='flow-text'>
                <i>Note: In {{view['title']}}, premium-fare transit includes {{view['agencies']}}.</i>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>How long does it take to travel to the nearest hospital on public transit?</h4>
        </div>
        <p class='flow-text'>Transit’s importance goes far beyond the commute. Transit riders need reliable access to essential services, and one of the most essential is health care. Research has shown a strong connection between unreliable transportation and worse health outcomes, due to missed appointments or inability to access treatment in the first place.</p>

        <p class='flow-text'>This chart shows transit travel time to the nearest hospital, and how that time differs for different groups of people.</p>
    </div>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="hospital-access-series" class="svg-container"></div>
                <p>
                    You can also <a href="/map/{{view['name']}}?key=hospitals_M_t1_PM_autoN_fareN&zone=urban&demo=none">view the most recent data on access to hospitals in the Urban Core on a map.</a> 
                </p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>How long does it take to ride public transit to the third-nearest grocery store?</h4>
        </div>
    </div>
    <p class='flow-text'>Transit access to healthy food matters too. This chart shows the average transit travel time to the third-nearest grocery store on Saturday mornings.</p>

    <p class='flow-text'>We show the third-closest store in order to show how effectively transit connects people to a <i>variety</i> of food options. A growing body of research (as well as common sense) shows that people don’t simply travel to the closest food store. They value multiple options that offer different combinations of variety, value, quality, and culturally appropriate food.</p>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="store-access-series" class="svg-container"></div>
                <p>
                    You can also <a href="/map/{{view['name']}}?key=snap_M_t3_WE_autoN_fareN&zone=urban&demo=none">view the most recent data on access to grocery stores in the Urban Core on a map.</a> 
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class='grey lighten-4 section'>
    <div class="container">
        <div class='row'>
            <a id="los"></a>
            <h3>Transit Service Intensity</h3>
            <p class='flow-text'>Transit agencies regularly adjust schedules, affecting how much transit service people have near home.</p>
        </div>
        <div class='row'>
            <div class='col s12'>
                <h4>How has the daily number of transit trips serving people near their homes changed?</h4>
                <p class='flow-text'>In most regions, transit agencies cut service during the pandemic, with service gradually recovering over time. This was not uniform; many agencies maintained or increased service on routes relied upon by essential workers. But overall, most people have access to fewer transit trips than they did in February 2020.</p>

                <p class='flow-text'>This chart shows how transit service intensity has changed over time. The lines show how many transit trips are scheduled to make stops, on average each hour, within walking distance of the average resident (disaggregated by different groups). Transit service is a function of density, or how many routes or lines serve an area, and frequency, or how often they run.</p>
                    
                <p class='flow-text'>Many demographic groups with high levels of transit service and short rides to community destinations like grocery stores also have the least ability to access regional destinations via transit (such as major job centers). This paradox points to how land use segregation and scarce rapid transit service concentrated in affluent areas contribute to inequitable access to regional opportunities. It also underscores the importance of rider-focused measures like access to opportunity: Focusing on equity of transit inputs, such as transit service levels, does not evaluate if riders actually experience equitable transit outcomes.</p>
            </div>
        </div>
        <div class='row'>
            <div class='col s12'>
                <div class="card-panel">
                    <div id="los-series" class="svg-container"></div>
                    <p>You can also <a href="/map/{{view['name']}}?key=los_trips_WKD&zone=urban&demo=none">view the most recent data on weekly trips in the Urban Core on a map.</a></p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class='white section'>
<div class="container">
    <div class='row'>
        <a id="fares"></a>
        <h3>Fares</h3>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>How many fewer jobs can people reach in 45 minutes on transit, if they have limited money to spend on fares?</h4>
            <p class='flow-text'>Many regions have a kind of two-tiered transit system, where expensive, often rapid, regional transit is layered on top of a local transit network that is affordable but slow. In these regions, people with low incomes are “priced out” of parts of the transit network, and don’t have as much access as other riders.</p>

            <p class='flow-text'>This chart shows how access shrinks for people who can’t afford high-cost modes. It compares the number of jobs accessible taking only low-cost transit trips, compared to traveling on the entire transit network, including expensive “premium” service.</p> 
                
            <p class='flow-text'>A value of 100% indicates that someone taking only low-cost transit trips has the same access to jobs as riders who can pay more for fares. A value of 50% indicates that someone taking only low-cost trips can access half as many jobs as someone with an unlimited budget for fares.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <div class="card-panel">
                <div id="jobs-fares-series" class="svg-container"></div>
                <p> You can also <a href="/map/{{view['name']}}?key=C000_P_c30_AM_autoN_fareN&zone=msa&demo=none">view the most recent data on access to jobs via low-cost transit in the MSA on a map.</a></p>
            </div>
        </div>
    </div>
</div>
</div>

<div class='white section'>
<div class="container">
    <div class='row'>
        <a id="car"></a>
        <h3>Car Access</h3>
        <p class='flow-text'>The car is a faster mode of travel than public transit, leading many people to choose to buy cars despite the financial costs.</p>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>How long are trips to essential destinations, when travelling by transit vs. by car?</h4>
            <p class='flow-text'>Public transit doesn’t need to be faster than the automobile to attract riders. Many people choose transit because it’s more convenient or offers better value. However, few people will choose transit when it is <i>substantially</i> slower than a car trip. And if people are consistently unable to access their needs through the public transit system, they are more likely to buy private vehicles.</p>

            <p class='flow-text'>This chart compares car and transit travel time for people living in poverty to the third-nearest grocery store, the third-nearest pharmacy, and to the closest hospital, urgent care facility, and college or university.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <div class="card-panel">
                <div id="car-jobs-access-series" class="svg-container"></div>
                <p>You can also <a href="/map/{{view['name']}}?key=C000_P_c30_AM_autoY_fareN&zone=msa&demo=none">view the most recent data on relative access to jobs in the MSA on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4>Reliability</h4>
            {% if view['reliability'] %}
            <div class="card-panel">
                <div id="reliability" class="svg-container"></div>
                <p>Test</p>
            </div>
            {% else %}
            <p class='flow-text'>Unfortunately, the real-time data required to make reliability calculations is not available in {{view['title']}}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12" id='coronaChart'>
            <h4>Coronavirus Cases</h4>
            <div class="col s12">
                <div class="card-panel">
                    <div id="corona" class="svg-container"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/d3.v5.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartstyles.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}