{% extends 'base.html' %}
{% block title %}Transit Scorecard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scorecard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
    var view = JSON.parse('{{ view | tojson}}');
</script>
<div class='wrapper white' id='jobs-access-theme'>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Transit Service and the Coronavirus</h2>
            <p class='center'><i>Note: This is a Beta version for demonstration and feedback purposes.</i></p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12 l6 offset-l3'>
            <h5>Table of Contents</h5>
            <div class="collection">
                <a href="#introduction" class="collection-item blue-text text-darken-2">Introduction</a>
                <a href="#theme-access" class="collection-item blue-text text-darken-2">Theme 1: Disparity in access accross the region</a>
                <a href="#fares" class="collection-item blue-text text-darken-2">Theme 2: The barriers of premium transit</a>
                <a href="#los" class="collection-item blue-text text-darken-2">Theme 3: Changes in transit service</a>
                <a href="#car" class="collection-item blue-text text-darken-2">Theme 4: The prioritization of the car</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class='white'>
<div class="container">
    <div class="row">
        <div class='col s12'>
            <a id="introduction"></a>
            <h3>Introduction</h3>
            <p class='flow-text'>In the US, Black people, Latinx people , people of color, people with low incomes, people with disabilities, and women have faced discrimination, disenfranchisement, and disinvestment from transportation systems. This marginalization prevents them from reaching the destinations they need. In 2020, the Covid-19 crisis has upended transit operations and threatened how essential workers commute to their jobs.</p>

            <p class='flow-text'>An equitable transit system recognizes that structural barriers have kept some people from reliable transportation and therefore, from accessing destinations. Reliable, affordable transit service is concentrated specifically to meet the needs of these people — so that everyone has the same access to jobs, healthcare, school, stores, and other opportunities they need to thrive.</p>
                
            <p class='flow-text'>This page is divided into five themes, which demonstrate key aspects of transit equity, access to opportunity, and reliable service — and how those outcomes for residents of {{view['title']}} have changed over 2020.</p>
            
            <p class='flow-text'>Covid-19 has impacted transit operations and ridership throughout 2020. As a reference, here is a plot of the rolling 7-day average of new cases in {{view['title']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <div class="card-panel">
                    <div id="corona" class="svg-container"></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>Transit agencies have at times limited service during the pandemic in reaction to budgetary or staffing constraints caused by coronavirus, and expanded service to provide more space for social distance. The rate of coronavirus spread also impacts rider behavior, influencing how often people leave their homes to travel for work, run errands, access health care, and access other opportunities and amenities.</p>
        </div>
    </div>
</div>
</div>
<div class='grey lighten-4 section'>
<div class="container">
    <div class='row'>
        <a id="theme-access"></a>
        <h3><b>Theme 1:</b> Transit provides different levels of access to destinations for people within the same region.</h3>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked: </i>How many jobs can each group of people currently reach in 30 minutes on public transit?</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="jobs-access-groups-date" class="svg-container"></div>
                <p>This figure shows the number of jobs that a transit rider can reach in 30 minutes, as of {{view['max_date'].strftime("%B %d, %Y")}}. Each bar represents the average number of jobs reachable for transit riders of different racial, ethnic, income and socioeconomic groups, and for the average rider using only less-expensive transit options. Larger numbers represent better access to jobs. You can also <a href="/map/{{view['name']}}?key=C000_P_c30_AM_autoN_fareN&zone=urban&demo=none">view the most recent data on access to jobs in the Urban Core on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>
                Some groups of people, on average, can reach more jobs in 30 minutes when riding public transit compared to others. An equitable public transit system should convey better access to certain groups of people — including Black people, Latinx people, people of color, low-income people, women, and people with disabilities — who generally have had worse access to destinations because of transportation, housing, education, and land use policies.
            </p>
        </div>
        <div class='col s12'>
            <p class='flow-text'>
                <i>Note: Low-income people are defined here as people with household incomes below the poverty line. Essential workers are employed in industries deemed essential during the coronavirus pandemic. In {{view['title']}}, premium-fare transit includes {{view['agencies']}}.
                </i>
            </p>
        </div>

    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked:</i> How has job access on public transit changed for each group of people?</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="jobs-access-series" class="svg-container"></div>
                <p>This figure shows how the number of jobs that a transit rider can reach within 30 minutes has changed over time. The lines represent the average number of jobs reachable on public transit for people of different racial and ethnic groups and for people using only less expensive transit options (regardless of race or ethnicity). Larger numbers represent better access to jobs. You can also <a href="/map/{{view['name']}}?key=C000_P_c30_AM_autoN_fareN&zone=urban&demo=none">view the most recent data on access to jobs in the Urban Core on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>
                The greatest number of jobs are accessible when riding transit during the morning peak. Accessibility is generally lower at night than during morning peak. This indicates that people who commute during peak hours generally have better access to their jobs than people who commute outside those times. The number of accessible jobs is generally lowest for people who only use less expensive transit options, as they cannot afford certain premium transit routes that grant access around the region.
            </p>
            <p class='flow-text'>
                <i>Note: In {{view['title']}}, premium-fare transit includes {{view['agencies']}}.</i>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked:</i> How long does it take to ride public transit to the three nearest grocery stores?</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col s12">
            <div class="card-panel">
                <div id="store-access-series" class="svg-container"></div>
                <p>
                    This figure shows how the average travel time on public transit to the three nearest grocery stores has changed over time. The lines represent the average travel time for members of different racial/ethnic groups, for people living in low-income households, and for riders using only less expensive transit options (regardless of race or ethnicity). You can also <a href="/map/{{view['name']}}?key=snap_M_t3_AM_autoN_fareN&zone=urban&demo=none">view the most recent data on access to grocery stores in the Urban Core on a map.</a> 
                </p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>
                It takes longer to reach grocery stores on weekends than on weekday mornings for all groups. Average travel time is generally the longest for people using less expensive transit options. People who can't afford higher fares cannot use premium transit routes that provide fast express service around the region.
            </p>
            <p class='flow-text'><i>
                Note: In {{view['title']}}, premium-fare transit includes {{view['agencies']}}. Grocery stores are defined as food stores or supermarkets that belong to the Supplemental Nutrition Assistance Program (SNAP). Low-income people are defined here as people with household incomes below the poverty line.
            </i></p>
        </div>
    </div>
</div>
</div>
</div>
<div class='white section'>
<div class="container">
    <div class='row'>
        <a id="fares"></a>
        <h3><b>Theme 2:</b> Premium-fare transit systems lead to inequitable access to destinations.</h3>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked: </i>How many more jobs can people access in 30 minutes if they can afford to pay for premium transit service? </h4>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <div class="card-panel">
                <div id="jobs-fares-series" class="svg-container"></div>
                <p>This figure shows changes, over time, in the greater access to jobs on all transit, including more expensive “premium” transit options, compared to the number of jobs that can be reached using only less expensive transit options. The lines represent the average share of additional jobs reachable when using all transit modes for everyone and for low-income people, for whom premium fares are less affordable. You can also <a href="/map/{{view['name']}}?key=C000_P_c30_AM_autoN_fareY&zone=msa&demo=none">view the most recent data on access to jobs via low-cost transit in the MSA on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>Premium-fare transit (e.g. commuter rail, express bus) charges higher fares and provides faster service with greater reliability than local routes, which are slower but also cheaper (e.g local bus, subway). Premium-fare transit is unaffordable for some transit riders.</p>
            <p class='flow-text'><i>Note: in {{view['title']}}, premium-fare transit includes {{view['agencies']}}. Low-income people are defined here as people with household incomes below the poverty line.</i></p>
        </div>
    </div>
</div>
</div>
<div class='grey lighten-4 section'>
<div class="container">
    <div class='row'>
        <a id="los"></a>
        <h3><b>Theme 3:</b> Level of transit service has fluctuated widely starting in Spring 2020, due to Covid-19.</h3>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked: </i>How has the level of transit service fluctuated over the past year, for different groups of people?</h4>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <div class="card-panel">
                <div id="los-series" class="svg-container"></div>
                <p>This figure shows changes in the level of service - measured as the number of transit vehicles that make service stops per day, within walking distance of one’s home. The lines represent the average level of transit service for members of each group. You can also <a href="/map/{{view['name']}}?key=los_trips&zone=urban&demo=none">view the most recent data on weekly trips in the Urban Core on a map.</a></p>
            </div>
            
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>While the level of service varies for each group, it has generally decreased for everyone. Transit agencies have cut service widely in reaction to budget and staffing limitations caused by Covid-19. Some groups have lost more service than others or experienced greater fluctuation in the level of service available near home. </p>
                
            <p class='flow-text'><i>Note: Essential workers are employed in industries deemed essential during the coronavirus pandemic.</i></p>
        </div>
    </div>
</div>
</div>
<div class='white section'>
<div class="container">
    <div class='row'>
        <a id="car"></a>
        <h3><b>Theme 4:</b> Access to destinations by car outpaces access to destinations by public transit.</h3>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked:</i> How does access to jobs differ when taking a car instead of riding public transit?</h4>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <div class="card-panel">
                <div id="car-jobs-access-series" class="svg-container"></div>
                <p>This figure shows changes, over time, in the greater access to jobs reachable by car in 30 minutes as a percentage of jobs reachable by public transit in 30 minutes. The lines represent the average share of additional jobs reachable by car for everyone and for low-income people, for whom having a car is even less affordable. You can also <a href="/map/{{view['name']}}?key=C000_P_c30_AM_autoY_fareN&zone=msa&demo=none">view the most recent data on relative access to jobs in the MSA on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked:</i> How many more low-income jobs are accessible by car compared to transit?</h4>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <div class="card-panel">
                <div id="car-low-wage-jobs-access-series" class="svg-container"></div>
                <p>This figure shows changes, over time, in the additional number of low-wage jobs reachable by car in 30 minutes as a percentage of low-wage jobs reachable by public transit in 30 minutes. The lines represent the average share of additional low-wage jobs reachable by car for everyone and for low-income people, many of whom hold low-wage jobs and for whom having a car is even less affordable. You can also <a href="/map/{{view['name']}}?key=CE01_P_c30_AM_autoY_fareN&zone=msa&demo=none">view the most recent data on relative access to low-income jobs in the MSA on a map.</a></p>
            </div>
        </div>
        <div class='col s12'>
            <p class='flow-text'>Many low-wage jobs are not located near transit service, so cars provide access to more low-wage jobs than public transit does in almost all circumstances — even though owning a car is too expensive for many workers in low-wage jobs. 
            </p>
            <p class='flow-text'><i>Note: Low-income people are defined here as people with household incomes below the poverty line. Low-wage jobs are those paying less than $1,250 per month, or $15,000 per year.</i></p>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <h4><i>We asked: </i>How do travel times to hospitals differ when taking a car instead of riding public transit?</h4>
            <div class="card-panel">
                <div id="car-hospital-travel-series" class="svg-container"></div>
                <p>This figure shows changes, over time, in the average travel time to reach the nearest hospital by transit divided by the time to reach it by car. For example, a value of 2 indicates that it takes twice as long to reach the nearest hospital by transit as by car. <i>Higher</i> values indicate that traveling by transit is much longer than by car. You can also <a href="/map/{{view['name']}}?key=hospitals_M_t1_AM_autoY_fareN&zone=msa&demo=none">view the most recent data on relative access to low-income jobs in the MSA on a map.</a></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            <p class='flow-text'>Cars provide quicker access to destinations compared to public transit in almost all circumstances, even though owning a car is too expensive for some.</p>

            <p class='flow-text'><i>Note: Low-income people are defined here as people with household incomes below the poverty line.</i></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/d3.v5.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartstyles.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}