{% extends 'base.html' %}
{% block title %}Transit Scorecard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scorecard.css') }}">
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Project Documentation</h2>
            <p>This project combines transit and demographic data from accross seven US metropolitan areas to calclate and visualize a regularly updating snapshot of transit access and quality. This project is an attempt to capture and quantify how service changes made in reaction to the Coronavirus pandemic affect important and vital access to transit for vunlerable populations.</p>

            <h3>Methodology</h3>

            <h3>Data Access</h3>
        </div>
    </div>
</div>
{% endblock %}