{% extends 'base.html' %}
{% block title %}Transit Scorecard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scorecard.css') }}">
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Data Downloads</h2>
            <p>Comprehensive data downloads are available here for each region, date, and demographic.</p>

            <h3>Methodology</h3>
            
        </div>
    </div>
</div>
{% endblock %}