{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scorecard.css') }}">
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Tracking Transit Equity in US Cities</h1>
            <p class='flow-text'>Transit agencies adjust service to match shifting demand from riders or realities of operations. (Covid-19 upended both, forcing agencies to modify service often.)</p>

            <p class='flow-text'>An equitable system provides the highest quality service to people with the greatest need for it. Attaining one must be a goal of transit planning, and requires knowing: 1) to what degree is the existing transit system equitable and 2) if changes to the system make it more or less equitable.</p>
              
            <p class='flow-text'>The Equity Dashboard answers these questions by evaluating how transit networks contribute to people’s access, by transporting them to places they need to thrive. For points in time starting in February 2020, you'll find transit measures like how many jobs are accessible given limited time or money, travel times to hospitals and grocery stores, service frequency, and service reliability.</p>
              
            <p class='flow-text'>Pervasive racism and discrimination have created transportation networks that neglect the needs of certain groups. An equitable transit system fixes disparities by serving these people best. The Dashboard tracks equity by measuring transit outcomes for some of these groups, including Black people, other people of color, people of low incomes, and single mothers.*</p>
              
            <p class='flow-text'>You can explore geographic patterns of transit access using the Map, and you can view trends and disparities in access for different groups of people on the Charts page. You can download the underlying data to conduct your own analysis via the Download center.</p>
              
            <p class='flow-text'>Transit agencies must recognize all groups disenfranchised by transportation and understand how to serve them better. For example, we could not calculate measures for people with disabilities, because public data does not capture disinvestments that limit how they can ride (such as non-ADA stations or gaps in sidewalks near transit stops).</p>

        </div>
    </div>

    <div class="row">
    {% for region in regions %}
      {% if loop.index0 % 2 == 0 %}
          </div><div class="row">
      {% endif %}
      <div class="col s12 m12 l6">
        <div class="card large">
          <div class="card-image">
            <img src="{{ url_for('static', filename='img/'+region.tag+'.jpg') }}">
          </div>
          <div class="card-content">
          <span class="card-title">{{region.name}}</span>
            <p>{{region.description}}</p>
          </div>
          <div class="card-action tile-link">
              <a href="/map/{{region.tag}}">View Map</a><a href="/charts/{{region.tag}}">View Charts</a><a href="/download/{{region.tag}}">View Downloads</a>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>

<script src="https://d3js.org/d3.v5.js"></script>
<script src="{{ url_for('static', filename='js/scorecard_boston.js') }}"></script>
{% endblock %}