{% extends 'base.html' %}
{% block title %}Transit Scorecard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scorecard.css') }}">
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="full-width column">
            <p>As the COVID-19 pandemic affects transit across the country, we're keeping a pulse on how agencies 
                are responding to the challenge, and what that means for the people that use it. 
                That's why we've produced a live, updating transit scorecard that tracks important measures 
                for transit service in seven major metropolitan areas.</p>
        </div>
    </div>

    <div class="row region-tile">
            <div class="three columns">
                    <a href='/boston'><h1 class="region-name">Boston</h1></a>
                    <p>Some brief narrative about Boston would be added here.</p>
            </div>
            <div class="three columns stat-tile">
                    <p class='tile-title'>Access</p>
                    <div id='boston-access' class='tile-chart'></div>
            </div>
            <div class="three columns stat-tile">
                <p class='tile-title'>Equity</p>
                <div id='boston-equity' class='tile-chart'></div>
            </div>
            <div class="three columns stat-tile">
                <p class='tile-title'>Service Delivery</p>
            </div>
    </div>
</div>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="{{ url_for('static', filename='js/scorecard_boston.js') }}"></script>
{% endblock %}